[Unit]
Description = SmartDoor System
After = smartdoor_host.service

[Service]
WorkingDirectory = /home/pi/smartdoor/deploy
ExecStart = /usr/bin/python /home/pi/smartdoor/deploy/main.py
Restart = always
Type = simple
User = pi
Group = pi


[Install]
WantedBy = multi-user.target
