[Unit]
Description = SmartDoor System

[Service]
WorkingDirectory = /home/pi/smartdoor/demos
ExecStart = /usr/bin/python /home/pi/smartdoor/demos/AutoSequence.py
Restart = always
Type = simple
User = pi
Group = pi
KillSignal=SIGINT


[Install]
WantedBy = multi-user.target
